In [1]:
import pandas as pd

In [5]:
df = pd.DataFrame({'a':['a', 'b', 'c'], 'b':[1,2,3]})

In [6]:
df

   a  b
0  a  1
1  b  2
2  c  3

In [10]:
df.a.dtype == 'object'

True

In [20]:
df['a'] = df['a'].astype('category').cat.set_categories(['c', 'b', 'a'], ordered=True)

In [21]:
(df['a'] >='b')

0     True
1     True
2    False
Name: a, dtype: bool

In [22]:
[1,2] + [3,4]

[1, 2, 3, 4]